.section {
  background: #eafdfc;
  color: #000;
}

.logo {
  font-weight: 800;
  font-size: 1.75em;
  color: #000000;
}

.col_header {
  font-weight: 700;
  font-size: 1.25em;
  color: #000000;
}

.col_text {
  font-weight: 500;
  font-size: 1.05em;
  color: #000000;
}

.copyright {
  font-weight: 500;
  font-size: 1.05em;
  color: #000000;
}

@media screen and (max-width: 1199.98px) {
  .section {
    font-size: 14px;
  }
}
