.nav_button {
  display: inline-block;
  padding: 0.625em 1.5em;
  font-size: 1.25em;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
}

.register_btn,
.logout_btn {
  background-color: #677486;
}

.login_btn {
  background-color: #82aae3;
}

.register_btn:active {
  background-color: #3c434e;
}

.login_btn:active {
  background-color: #5d7aa2;
}

.logout_btn:active {
  background-color: #49525f;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

@media (max-width: 767.98px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
