.back_button {
  color: #82aae3;
  text-decoration: underline !important;
  font-size: 1.25em;
  font-weight: 700;
}

.memory_title {
  font-size: 1.25em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory_image_container {
  position: relative;
  aspect-ratio: 5/2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #ededed;
  border-radius: 1.5%;
  overflow: hidden;
}

.detail_header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.detail_footer {
  gap: 3em;
}

@media screen and (max-width: 767.98px) {
  .container {
    font-size: 14px;
  }
}

@media screen and (max-width: 575.98px) {
  .container {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    font-size: 10px;
  }
}
